body {
    background-color: beige;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;       
    flex-direction: column;    
}


h1 {
    font-weight: bold;
    color: green;
}

.board {
    background-color: black;
    height: 430px;
    width: 425px;

}

.class {
    height: 50px;
    width: 50px;
    background-color: rgb(236, 217, 195);
}

.class1 {
    height: 50px;
    width: 50px;
    background-color: brown;
}
